@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins-v23-latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/poppins-v23-latin-100italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v23-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/poppins-v23-latin-200italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v23-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins-v23-latin-300italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v23-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins-v23-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v23-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins-v23-latin-500italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v23-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/poppins-v23-latin-600italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v23-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins-v23-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v23-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins-v23-latin-800italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v23-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/poppins-v23-latin-900italic.woff2") format("woff2");
}
* {
  font-family: Poppins, sans-serif;
}

body,
#root {
  overflow-x: hidden;
}

.textarea-with-code {
  font-family: var(--bs-font-monospace);
}


.scoreboard {  display: grid;
  grid-template-columns: 6fr 6fr 2fr 2fr;
  grid-template-rows: 9fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: end;
  justify-items: center;
  align-items: end;
  grid-template-areas:
    "cat-phy cat-life cat-mr-b scoring"
    "controls controls controls controls";
  width: 100%;
  height: 100%;
}

.cat-phy {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "cat-phy-heading cat-phy-heading cat-phy-heading"
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . .";
  justify-self: center;
  align-self: center;
  grid-area: cat-phy;
  width: 100%;
  height: 100%;
}

.cat-phy-heading { grid-area: cat-phy-heading; }


.cat-life {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "cat-life-heading cat-life-heading cat-life-heading"
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . .";
  justify-self: center;
  align-self: center;
  grid-area: cat-life;
  width: 100%;
  height: 100%;
}

.cat-life-heading { grid-area: cat-life-heading; }

.cat-mr-b {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    ".";
  justify-self: center;
  align-self: center;
  grid-area: cat-mr-b;
  width: 100%;
  height: 100%;
}

.scoring {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    "."
    ".";
  justify-self: center;
  align-self: center;
  grid-area: scoring;
  width: 100%;
  height: 100%;
}

.controls {
  grid-area: controls;
  width: 100%;
  height: 100%;
}

.scoreboard button {
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #fff !important;
}

.scoreboard button:hover {
  transform: scale(1.25);
  zoom: 1.25;
  transition: ease-in 0.2s;
  z-index: 99;
}

.scoreboard button:not(:hover) {
  transform: scale(1.0);
  zoom: 1.0;
  transition: ease-out 0.2s;
  z-index: 1;
}
/* 
.scoreboard:has(button:hover) button:not(:hover) {
  transform: scale(0.8);
  zoom: 0.95;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
} */

.scoreboard button:active {
  transform: scale(0.9);
  zoom: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

button[data-active="false"] {
  background-color: gray !important;
  border-color: darkgray !important;
}