@font-face {
    font-family: 'Poppins'; 
    src: url('/poppins.woff2') format('woff2')
}

* {
  font-family: Poppins;
}

body,
#root {
  overflow-x: hidden;
}

.textarea-with-code {
  font-family: var(--bs-font-monospace);
}